{% extends "base.html" %}
{% load static %}

{% block title %}
  Project List
{% endblock %}

{% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">

        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3 d-flex align-items-center justify-content-between px-3">
            <h6 class="text-white text-capitalize mb-0 ps-2">
              <i class="material-symbols-rounded me-2">rocket_launch</i>
              Projects
            </h6>
            <a href="{% url 'task_manager:project-create' %}" class="btn btn-sm btn-white mb-0 text-dark">
              <i class="bi bi-plus-lg me-1"></i> Add Project
            </a>
          </div>
        </div>

        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0 table-hover">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-4">Project Name</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Budget</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tasks</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Teams</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for project in project_list %}
                  <tr>
                    <td>
                      <div class="d-flex px-3 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <a href="{% url 'task_manager:project-detail' pk=project.pk %}" class="mb-0 text-sm font-weight-bold text-dark text-decoration-none">
                            {{ project.name }}<i class="material-symbols-rounded text-primary text-sm">open_in_new</i>
                          </a>
                          <p class="text-xs text-secondary mb-0">
                              {{ project.description|truncatewords:4|default:"No description provided" }}
                          </p>
                        </div>
                      </div>
                    </td>

                    <td class="align-middle text-center text-sm">
                      {% if project.status == "IN_PROCESS" %}
                        <span class="badge badge-sm bg-gradient-info">in process</span>
                      {% elif project.status == "DONE" %}
                        <span class="badge badge-sm bg-gradient-success">done</span>
                      {% elif project.status == "PAUSED" %}
                        <span class="badge badge-sm bg-gradient-primary">paused</span>
                      {% elif project.status == "CANCELED" %}
                        <span class="badge badge-sm bg-gradient-danger">canceled</span>
                      {% else %}
                         <span class="badge badge-sm bg-gradient-secondary">{{ project.status }}</span>
                      {% endif %}
                    </td>

                    <td class="align-middle text-center">
                      <p class="text-xs text-center font-weight-bold mb-0 text-secondary">
                        {% if project.budget %}
                          ${{ project.budget }}
                        {% else %}
                          No money
                        {% endif %}
                      </p>
                    </td>

                    <td class="align-middle text-center">
                      <p class="text-xs text-center font-weight-bold mb-0 text-secondary">
                          {{ project.tasks.count|default:"-" }}
                      </p>
                    </td>

                    <td class="align-middle text-center">
                         {% for team in project.teams.all|slice:":2" %}
                           <a href="{% url 'task_manager:team-detail' pk=team.pk %}">
                             <span class="badge badge-sm bg-gradient-faded-info text-dark mb-1">{{ team.name }}</span>
                           </a>
                        {% empty %}
                            <span class="text-secondary text-xs">No teams</span>
                        {% endfor %}

                        {% if project.teams.count > 2 %}
                           <a href=""
                              class="text-decoration-none d-inline-block align-middle ms-1"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="View all {{ project.teams.count }} teams">
                             <span class="badge badge-sm bg-gray-200 text-secondary border border-white">
                                +{{ project.teams.count|add:"-2" }}
                             </span>
                           </a>
                        {% endif %}
                    </td>

                    <td class="align-middle text-center">
                      <a href="{% url 'task_manager:project-update' pk=project.pk %}"
                         class="text-secondary font-weight-bold text-xs p-2"
                         data-bs-toggle="tooltip"
                         title="Edit Project">
                        <i class="material-symbols-rounded text-lg align-middle">edit</i>
                      </a>
                      <a href="{% url 'task_manager:project-delete' pk=project.pk %}"
                         class="text-danger font-weight-bold text-xs p-2"
                         data-bs-toggle="tooltip"
                         title="Delete Project">
                        <i class="material-symbols-rounded text-lg align-middle">delete</i>
                      </a>
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="6" class="text-center py-5">
                      <div class="d-flex flex-column align-items-center justify-content-center">
                        <i class="material-symbols-rounded text-secondary display-4 mb-3 opacity-5">rocket_launch</i>
                        <h6 class="text-secondary">No projects found</h6>
                        <p class="text-xs text-secondary">Add new projects</p>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}